<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" stopOnFailure="false"  backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
	<testsuites>
		<testsuite name="Log">
			<directory suffix=".php">
				tests/Login
			</directory>
		</testsuite>
		<testsuite name="Hijo">
			<directory suffix=".php">
				tests/Hijos
			</directory>
		</testsuite>
		<testsuite name="Trabajador">
			<directory suffix=".php">
				tests/Trabajador
			</directory>
		</testsuite>
		<testsuite name="Calendario">
			<directory suffix=".php">
				tests/Calendario
			</directory>
		</testsuite>
		<testsuite name="Ausencias">
			<directory suffix=".php">
				tests/Ausencias
			</directory>
		</testsuite>
		<testsuite name="Sueldos">
			<directory suffix=".php">
				tests/Sueldo
			</directory>
		</testsuite>
		<testsuite name="formulas">
			<directory suffix=".php">
				tests/Formulas
			</directory>
		</testsuite>
	</testsuites>
</phpunit>